$accent: #FEDB3F;
$darkblue: #1968B1;
$fontfamily: 'Alegreya Sans', sans-serif;
$fontsize: 18px;

// breakpoints
$tablets: 768px;
$phones: 480px;

// selection
::selection {
	background: $accent;
	color: #000;
}

::-moz-selection {
	background: $accent;
	color: #000;
}

// scrollbar
::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #F2F5F4;
}

::-webkit-scrollbar-thumb {
	background-color: $darkblue;
	border-radius: 3px;
	border: 1px solid #F2F5F4;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: $fontsize;
}

body {
	font-family: $fontfamily;
	color: #666666;
}

html,
body {
	height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

a {
	text-decoration: none;
	transition: opacity .3s ease-out;

	&:hover {
		opacity: .7;
	}
}

ul {
	list-style: none;
}

address {
	font-style: normal;
}

img {
	width: 100%;
	height: auto;
}