.form-delivery {
	@include tablets {
		max-width: rem(466px);
		margin-left: auto;
		margin-right: auto;
	}

	&__cols {
		display: flex;
		gap: rem(26px);

		@include tablets {
			flex-direction: column;
			gap: rem(16px);
		}
	}

	&__col {
		width: 50%;
		display: flex;
		flex-direction: column;
		gap: rem(14px);

		@include tablets {
			width: 100%;
		}
	}

	.form-field__radios {
		margin-top: rem(15px);

		@include tablets {
			margin-top: 0;
		}

		@include tablets {
			justify-content: center;

			.form-field__label {
				flex: unset;
			}
		}
	}

	@include tablets {
		.form-field__checkboxes {
			margin-top: rem(10px);
			display: flex;
			justify-content: center;

			.form-field__label {
				flex: unset;
			}
		}
	}

	.form-field__reset {
		color: #fff;
	}

	.form-field__btns {
		margin-top: rem(44px);

		@include tablets {
			margin-top: rem(36px);
			justify-content: center;
		}
	}
}