.right-dotted {
	position: fixed;
	top: 50%;
	transform: translateY(-50%);
	right: 45px;
	width: rem(17px);
	display: flex;
	align-items: center;

	@include tablets {
		display: none;
	}

	&__list {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: rem(4px);
		align-items: center;
	}

	&__item {
		display: flex;
	}

	&__btn {
		position: relative;
		border: 1px solid transparent;
		width: rem(17px);
		height: rem(17px);
		border-radius: 50%;
		background-color: transparent;
		cursor: pointer;
		transition: border-color .3s ease-out;
		&::after {
			content: '';
			position: absolute;
			inset: 0;
			margin: auto;
			border-radius: 50%;
			background-color: #fff;
			width: rem(6px);
			height: rem(6px);
			box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
		}
	}

	&__item:hover .right-dotted__btn,
	&__item--active .right-dotted__btn {
		border-color: #fff;
		box-shadow: 0px 0px 14px -2px rgba(0, 0, 0, 0.1);
	}
}