.socs {
	display: flex;
	flex-wrap: wrap;
	gap: rem(14px);
}

.soc {
	width: rem(20px);
	height: rem(20px);

	&__svg {
		width: 100%;
		height: 100%;
		fill: #a6a6a6;
		transition: fill .3s ease-out;
	}

	&__link {
		&:hover {
			opacity: 1;
			.soc__svg {
				fill: #292929;
			}
		}
	}
}