.mobile-menu {
	position: fixed;
	inset: 0;
	margin: auto;
	border: 0;
	background-color: transparent;

	&::backdrop {
		background-color: #333537;
	}

	&__close {
		position: fixed;
		top: rem(42px);
		right: rem(42px);
		opacity: .7;

		&:hover {
			opacity: 1;
		}
	}

	&__close-img {
		width: rem(20px);
		height: rem(20px);
		fill: #fff;
	}
}