.reviews {
	display: flex;
	max-width: rem(940px);
	width: 100%;
	overflow: hidden;
	margin-bottom: rem(15px);

	@include tablets {
		margin-bottom: rem(32px);
	}

	@include phones {
		margin-bottom: rem(29px);
	}
}

.review {
	flex-shrink: 0;
	width: 100%;
	padding: rem(42px);
	display: flex;
	align-items: center;
	gap: rem(40px);
	background-color: #F8FAF9;

	@include tablets {
		flex-direction: column;
	}

	&__ava {
		width: rem(253px);
		height: rem(264px);
		overflow: hidden;

		@include tablets {
			width: rem(130px);
			height: rem(130px);
		}
	}

	&__content {
		flex: 1;

		@include tablets {
			text-align: center;
		}
	}

	&__title {
		font-weight: 700;
		font-size: rem(27px);
		margin-bottom: rem(14px);
		color: #292929;
	}

	&__text {
		margin-bottom: rem(25px);
		max-width: rem(463px);
		line-height: 1.2;

		@include tablets {
			max-width: unset;
		}
	}

	&__name {
		font-weight: 500;
		color: #292929;
	}
}

.reviews-thumb {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: rem(6px);
}

.review-thumb {
	width: rem(74px);
	height: rem(74px);
	border-radius: 50%;
	border: 7px solid transparent;
	overflow: hidden;
	transition: border-color .3s ease-out;

	@include phones {
		width: rem(64px);
		height: rem(64px);
		border-width: 4px;
	}

	&__btn {
		display: flex;
		outline: 0;
		border: 0;
		cursor: pointer;
	}

	&.swiper-slide-thumb-active {
		border-color: $accent;
	}
}

