.specifications {
	display: flex;
	flex-direction: column;
	padding: rem(31px) rem(26px);
	max-width: rem(273px);
	width: max-content;
	gap: rem(25px);
}

.specification {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;

	&__title {
		display: flex;
		gap: rem(16px);
		align-items: center;
	}

	&__icon {
		width: rem(24px);
		height: rem(24px);
	}

	&__name {
		font-size: rem(16px);
		font-weight: 500;
		white-space: nowrap;
	}

	&__value {
		font-size: rem(16px);
		font-weight: 400;
		white-space: nowrap;
	}
}


.favorite-spec {
	position: relative;

	&__list {
		display: flex;
		gap: rem(44px);

		@include tablets {
			justify-content: center;
		}

		@include phones {
			flex-wrap: wrap;
		}
	}

	&__item {
		@include tablets {
			&:nth-child(1) {
				text-align: right;
			}
		
			&:nth-child(2) {
				text-align: left;
			}
		}

		@include phones {
			&:nth-child(1) {
				text-align: center;
			}
		
			&:nth-child(2) {
				text-align: center;
			}
		}
	}

	&__name {
		white-space: nowrap;
	}

	&__value {
		color: #000;
		font-weight: 700;
	}
}